


/** soon obsolete */
#main_content img {
		width: 31%;
	}
	#main_content img:nth-of-type(even) {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}