

::-moz-selection { background: #007EDF; color: #fff; text-shadow: none; }
::selection { background: #007EDF; color: #fff; text-shadow: none; }

hgroup { margin-top: 30px; }

h1, h2, h2 a, blockquote {
   font-family: "edding850", Arial, sans-serif; 
   font-weight: normal;
   margin: 0;
   line-height: 1;
   background: none;
   border: none;
   letter-spacing: 0;
}
  h1 { 
  	font-size: 93px;
  	color: #000;
  }
  h2, hgroup a, blockquote{
    font-size: 50px;
    line-height: 50px;
    color: #333;
  }
    hgroup a { 
    	text-transform: uppercase;
    }
    	hgroup a:hover{
    		color: #007EDF;
    	}
a {
  text-decoration: none;
}
blockquote{ 
	color: #000;
	padding-top: 60px;
	padding-left: 60px;
}
  blockquote:before {
    content: '≤';
    font-size: 120px;
  }

#main_content_wrap { 
	padding-bottom: 40px;
}
p.copyright {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 10px dashed rgba(0, 0, 0, .5);
}