@font-face { 
  font-family: "edding850"; 
  src: url('../webfonts/edding850.eot#iefix') format('embedded-opentype'),
  local("../webfonts/edding850"), url('../webfonts/edding850.woff') format("woff"), url('../webfonts/edding850.ttf') format("truetype"), url('../webfonts/edding850.svg#edding850') format("svg");
}